* {
  list-style-type: none !important;
  text-decoration: none !important;
}

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
header nav {
  width: 80%;
  margin: 0 auto;
}
header nav ul li a {
  color: black !important;
  font-weight: bold !important;
}

#cartridge {
  background-image: url("../../../assets/Image/header-bg.jpg");
  width: 100%;
  height: 700px;
  align-items: center;
  display: flex;
  background-attachment: fixed;
}
#cartridge #cart-container {
  background-color: black;
  width: 100%;
  height: 700px;
  opacity: 0.4;
  position: absolute;
  padding: 20px;
}
#cartridge #cart-container .content {
  width: 65rem;
  height: 20rem;
  justify-content: space-between;
}
#cartridge #cart-container .content .discount {
  color: #fff;
  font-size: 2.3rem;
  z-index: 999;
  font-weight: bold;
}
#cartridge #cart-container .content .likeorCom p {
  color: #fff;
}
#cartridge #cart-container .content .mark {
  background: transparent;
}
#cartridge #cart-container .content .mark .mark-txt {
  color: #fff;
}

#latest .container .text .latest {
  font-size: 2rem;
  margin-bottom: 1rem !important;
}
#latest .container .text p {
  margin: 0 !important;
  padding: 0 !important;
}
#latest .container .more-info .row .col-xl-4 .box {
  width: 100%;
}
#latest .container .more-info .row .col-xl-4 .box img {
  width: 100%;
  transition: 0.5s;
  height: 254px;
}
#latest .container .more-info .row .col-xl-4 .box img:hover {
  scale: 1.05;
}
#latest .container .more-info .row .col-xl-4 .box span {
  padding: 10px;
  color: #fff;
  background-color: black;
  width: 7rem;
}
#latest .container .more-info .row .col-xl-4 .box p {
  font-size: 1.3rem;
  font-weight: 640;
}

#travel .container .text .latest {
  font-size: 2rem;
}
#travel .container .content-travel .content-trvl {
  margin-top: 20px;
  position: relative;
}
#travel .container .content-travel .content-trvl img {
  transition: 0.5s;
}
#travel .container .content-travel .content-trvl img:hover {
  scale: 1.1;
}
#travel .container .content-travel .content-trvl .num {
  width: 4rem;
  top: 0;
  background-color: black;
  color: #fff;
  position: absolute;
  font-size: 1.3rem;
}
#travel .container .content-travel .travel-txt .add-txt {
  font-weight: 500;
  font-size: 1.3rem;
  transition: 1s;
}
#travel .container .content-travel .travel-txt .add-txt:hover {
  color: aqua;
}
#travel .container .content-travel .buttonload button {
  width: 9rem;
  padding: 10px;
  background-color: rgb(127, 152, 254);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(127, 152, 254);
  transition: 1s;
}
#travel .container .content-travel .buttonload button:hover {
  color: rgb(127, 152, 254);
  background-color: #fff;
}

#fashion .container .content .text .latest {
  font-size: 2rem;
}
#fashion .container .content .more-info .row .col-xl-3 .box img {
  transition: 1s;
}
#fashion .container .content .more-info .row .col-xl-3 .box img:hover {
  scale: 1.1;
}

footer {
  background-color: rgb(34, 34, 34);
  height: 350px;
  padding: 20px;
}
footer .top nav ul li a {
  color: #fff;
  transition: 1s;
}
footer .top nav ul li a:hover {
  color: rgb(127, 152, 254);
}
footer .newsletter {
  color: #fff;
}
footer .newsletter form input {
  padding: 10px;
  border-radius: 30px;
  width: 300px;
}
footer .newsletter form button {
  width: 150px;
  border-radius: 30px;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #62bdfc 0%, #8490ff 100%);
  border: 1px solid rgb(127, 152, 254);
  transition: 1s;
}
footer .newsletter form button:hover {
  background: #fff;
  color: black;
}
footer .img-box {
  width: 250px;
}
footer .img-box img {
  width: 60px;
  height: 55px;
  transition: 1s;
}
footer .img-box img:hover {
  scale: 1.2;
}

#aboutBlogger .container .content .text .latest {
  font-size: 2rem;
}

footer {
  height: auto;
}
footer .foot-txt {
  width: 80%;
}
footer .foot-txt .share i {
  transition: 1s;
  cursor: pointer;
}
footer .foot-txt .share i:hover {
  color: #fff;
}

.buttonload button {
  width: 9rem;
  padding: 10px;
  background-color: rgb(127, 152, 254);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(127, 152, 254);
  transition: 1s;
}
.buttonload button:hover {
  color: rgb(127, 152, 254);
  background-color: #fff;
}

@media (max-width: 500px) {
  #travel .content-travel .content-trvl {
    flex-wrap: wrap;
  }
}